<?php
  $targets['Organization/repo']['master'] = 'cd /var/www/production-folder && sudo git reset --hard HEAD && sudo git pull';
  $targets['Organization/repo']['develop'] = 'cd /var/www/test/folder && sudo git reset --hard HEAD && sudo git pull';
  
  define('ALERT_EMAIL', 'info@domain.hu');
?>